#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 60vw;
}
/* nav */
.navLink {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 26px;
  padding-bottom: 10px;
}

.navLink a {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
}

.navLink .active {
  color: green;
}
/* home */
.home-posts {
  width: 100%;
  text-decoration: none;
  color: black;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

.home-posts * {
  margin-bottom: -7px;
}
/* add-Post */
.add-form {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  gap: 10px;
}

.add-form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-form .title {
  width: 300px;
}

.add-form .body {
  height: 50px;
  width: 300px;
}

.add-form button {
  display: block;
  width: 25%;
  height: 30px;
  font-weight: bold;
}

/* appdetails */
.button-group button {
  font-size: 15px;
  font-weight: bold;
}
